* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: #f4f4f9;
  border: 5px solid green;
}

.loginForm {
  width: 100%;
  max-width: 400px;
}

.form {
  background-color: green;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 450px;
}

.form img {
  width: 80px;
  margin-bottom: 10px;
}

.header {
  font-size: 25px;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.username,
.password {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.passwordGroup {
  position: relative;
  width: 100%;
}

.iconHide {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  cursor: pointer;
}

.button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
}

.register {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.register:hover {
  text-decoration: underline;
}
